<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>应用场景</title>
    <meta name=”description” content=”擎锋科技是一家致力于AR增强现实技术研究和应用的高科技公司，为企业和消费者提供增强现实AR解决方案。”>
    <meta name=”keyword” content="擎锋科技，ar，Seego，72变，添翼，APP方案定制，AR方案定制">
    <!--IE=edge告诉IE使用最新的引擎渲染网页，chrome=1则可以激活Chrome Frame.-->
    <meta http-equiv="X-UA-Compatible" content="IE=7,IE=9">
    <meta http-equiv="X-UA-Compatible" content="IE=7,9">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <!--兼容IE8-->
    <link rel="shortcut icon" href="/bitbug_favicon.ico" />
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/index.css">
</head>
<body class="application">
<div class='header'>
    <div class='nav clearfix'>
        <div class='logo'>
            <a href="index.html">
                <img src='images/nav_logo.png' alt=''>
            </a>
        </div>
        <div class='navli'>
            <ul class='clearfix'>
                <li>
                    <a class='rootA' href='about.html'>关于我们</a>
                </li>
                <li>
                    <a class='rootA' href='product.html'>产品中心</a>
                </li>
                <li>
                    <a class='rootA' href='case-show.html'>案例展示</a>
                </li>
                <li>
                    <a class='rootA' href='our-service-app.html'>
                        服务介绍
                    </a>
                    <div></div>
                    <div class='subhead'>
                        <a href='our-service-app.html'>APP方案定制</a>
                        <a href='our-service-ar.html'>AR方案定制</a>
                    </div>
                </li>
                <li>
                    <a class='rootA' href='index.html'>首页</a>
                </li>
            </ul>
            <i class='navLine'></i>
        </div>
        <div class="personal"></div>
    </div>
</div>
<div class="con">
    <div class="level3">
        <div class="lump">
            <img src="images/scene_word.png" alt="">
        </div>
    </div>
    <div class="application-con">
        <div class="nav clearfix">
            <span class="act">衣</span>
            <span>食</span>
            <span>住</span>
            <span>行</span>
            <span>广告</span>
            <span>教育</span>
            <span>百货</span>
            <span>工业</span>
            <span>娱乐</span>
        </div>
        <div class="slide">
            <div class="slide-con">
                <ul class="clearfix">
                    <li>
                        <h5>“衣”+AR</h5>
                        <p>服装、内衣、箱包、鞋袜、饰品</p>
                        <span class="pic">
                            <img src="images/scene_image_1.jpg" alt="">
                        </span>
                    </li>
                    <li>
                        <h5>“食”+AR</h5>
                        <p>食品饮料、餐厅、饮食器具</p>
                        <span class="pic">
                           <img src="images/scene_image_2.jpg" alt="">
                        </span>
                    </li>
                    <li>
                        <h5>“住”+AR</h5>
                        <p>房地产、酒店、家居、电器、工艺品</p>
                        <span class="pic">
                            <img src="images/scene_image_3.jpg" alt="">
                        </span>
                    </li>
                    <li>
                        <h5>“行”+AR</h5>
                        <p>导航、旅游、交通</p>
                        <span class="pic">
                            <img src="images/scene_image_4.jpg" alt="">
                        </span>
                    </li>
                    <li>
                        <h5>“广告”+AR</h5>
                        <p>名片、宣传页、日历、展会、招牌、包装</p>
                        <span class="pic">
                            <img src="images/scene_image_5.jpg" alt="">"">
                        </span>
                    </li>
                    <li>
                        <h5>“教育”+AR</h5>
                        <p>卡片、图书、教科书、工具书</p>
                        <span class="pic">
                            <img src="images/scene_image_6.jpg" alt="">
                        </span>
                    </li>
                    <li>
                        <h5>“百货”+AR</h5>
                        <p>母婴、玩具、小商品</p>
                        <span class="pic">
                            <img src="images/scene_image_7.jpg" alt="">
                        </span>
                    </li>
                    <li>
                        <h5>“工业”+AR</h5>
                        <p>生产、维修、组织、虚拟作业</p>
                        <span class="pic">
                            <img src="images/scene_image_8.jpg" alt="">
                        </span>
                    </li>
                    <li>
                        <h5>“娱乐”+AR</h5>
                        <p>社交、音乐、活动、聚会</p>
                        <span class="pic">
                            <img src="images/scene_image_9.jpg" alt="">
                        </span>
                    </li>
                </ul>
            </div>
            <a class="leftBtn"></a>
            <a class="rightBtn"></a>
        </div>
    </div>

    <script src="js/foot.js"></script>
</div>
<!--[if !IE]> -->
<script src="js/jquery-2.1.4.min.js"></script>
<!-- <![endif]-->

<!--[if lte IE 8]>
<script src="js/jquery-1.6.4.min.js"></script>
<![endif]-->

<!--[if gt IE 8]>
<script src="js/jquery-2.1.4.min.js"></script>
<![endif]-->
<script src="js/rem100.js"></script>
<script src="js/index.js"></script>
</body>
</html>