<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>案例详情</title>
    <meta name=”description” content=”擎锋科技是一家致力于AR增强现实技术研究和应用的高科技公司，为企业和消费者提供增强现实AR解决方案。”>
    <meta name=”keyword” content="擎锋科技，ar，Seego，72变，添翼，APP方案定制，AR方案定制">
    <!--IE=edge告诉IE使用最新的引擎渲染网页，chrome=1则可以激活Chrome Frame.-->
    <meta http-equiv="X-UA-Compatible" content="IE=7,IE=9">
    <meta http-equiv="X-UA-Compatible" content="IE=7,9">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <!--兼容IE8-->
    <link rel="shortcut icon" href="/bitbug_favicon.ico" />
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/index.css">
</head>
<body class="application case-show">
<div class='header case-header'>
    <div class='nav clearfix'>
        <div class='logo'>
            <a href="index.html">
                <img src='images/nav_logo.png' alt=''>
            </a>
        </div>
        <div class='navli'>
            <ul class='clearfix'>
                <li>
                    <a class='rootA' href='about.html'>关于我们</a>
                </li>
                <li>
                    <a class='rootA' href='product.html'>产品中心</a>
                </li>
                <li class='act'>
                    <a class='rootA' href='case-show.html'>案例展示</a>
                </li>
                <li>
                    <a class='rootA' href='our-service-app.html'>
                        服务介绍
                    </a>
                    <div class='subhead'>
                        <a href='our-service-app.html'>APP方案定制</a>
                        <a href='our-service-ar.html'>AR方案定制</a>
                    </div>
                </li>
                <li>
                    <a class='rootA' href='index.html'>首页</a>
                </li>
            </ul>
            <i class='navLine'></i>
        </div>
        <div class="personal"></div>
    </div>
</div>
<div class="con">
    <div class="case-con">
        <ol class="breadcrumb clearfix">
            <li><a href="case-show.html">案例展示 </a> ></li>
            <li class="active"></li>
        </ol>
        <div class="my-video clearfix">
            <div class="fl case-video">
                <video id="myvideo" class="video" poster="" src="" controls="" preload="" height="490" width="870">
                    您的浏览器不支持视频播放。
                </video>
                <img id="novideo" class="novideo" src="" alt="">
                <p class="video-details">基于ar游戏体验学习的乐趣，教育与技术相结合，改变小朋友的学习氛围，引导小朋友求学思维。 </p>
            </div>
            <div class="fl case-other">
                <img class="video-logo" src="" alt="">
                <h5 class="video-title">AR夹娃娃</h5>
                <div class="other">
                    <span>
                        <i class="icon01 iconfont">&#xe649;</i>
                        <i class="video-tag"></i>
                    </span>
                    <span>
                        <i class="icon02 iconfont">&#xe618;</i>
                        <i class="PV"></i>
                    </span>
                </div>
                <div class="price"><span id="price"></span>元/套</div>
                <div class="btn clearfix">
                    <a class="a01">我也想要</a>
                    <a class="a02 downCode iconfont" href="javascript:;">
                        <span>&#xe601;</span>
                        <div class="flag">
                            <img src="" alt="">
                            <p>扫一扫下载案例</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </div>

    <script src="js/foot.js"></script>
</div>


<!--[if !IE]> -->
<script src="js/jquery-2.1.4.min.js"></script>
<!-- <![endif]-->

<!--[if lte IE 8]>
<script src="js/jquery-1.6.4.min.js"></script>
<![endif]-->

<!--[if gt IE 8]>
<script src="js/jquery-2.1.4.min.js"></script>
<![endif]-->
<script src="http://api.html5media.info/1.1.8/html5media.min.js"> </script>

<script src="js/index.js"></script>
<script>
    jQuery.support.cors = true;
    var Houst = 'http://web.72change.net';
    function GetQueryString(name){
        var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if(r!=null)return  unescape(r[2]); return null;
    }

    $.ajax({
        url : Houst + '/api/demo/getDemoDetail',
        type: 'GET',
        dataType: 'JSON',
        data: {
            id: GetQueryString('id')
        },
        success : function(de){
            var detail = de.result;
            if(detail.demoUrl){
                $('.video').show().attr('src',detail.demoUrl);
                $('.novideo').hide();
            }else{
                $('.video').hide();
                $('.novideo').attr('src',detail.demoPic2).show();
            }
            $('.breadcrumb .active').text(detail.demoName);
            $('.video-logo').attr('src',detail.demoPic1);
            $('.video-title').text(detail.demoName);
            $('.video-details').text(detail.mark);
            $('.video-tag').text(detail.demoTitle.split(',').join(' '));
            $('.my-video').find('.PV').text(detail.demoClick || 0);
            $('#price').text(detail.demoPrice);

            $('.case-other').find('.a01').click(function() {
                window.location.href="uploadInfo.html?id=" + detail.id;
            })
        },
        error:function(){
            alert('请求超时');
        }
    });
</script>
</body>
</html>