<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8"/>
    <script type='text/javascript' src='http://cdn.staticfile.org/jquery/2.1.1/jquery.min.js'></script>
    <script type="text/javascript" src="http://cdn.staticfile.org/jquery.qrcode/1.0/jquery.qrcode.min.js"></script>    <style>
        #qrcode{
            /*text-align: center;*/
            /*display: table-cell;*/
            /*width: 96px;*/
            /*height: 96px;*/
            /*vertical-align:middle;*/
            /*position: relative;*/
        }
    </style>
</head>
<body>
<div id="qrcode"></div>
<script type="text/javascript">
jQuery('#qrcode').qrcode({width: 200,height: 200,text: "https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx1990fd78eb841e25&redirect_uri=http://www.qyusan.com/umbrella/order/personal.html&response_type=code&scope=snsapi_userinfo&state=park#wechat_redirect"});
</script>
</body>
</html>